<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('top.ejs') %>
    <br><br><br><br><br><br><br>
    <h1>
        ID : <%=id%>
    </h1>
    <h1>
        NAME : <%=name%>
    </h1>
    <h1>
        종류 : <%=user_category%>
    </h1>
    <h1>
        <%=hidden_ticketing%>
    </h1>
    
        <table>
            <thead>
                <th>제목</th>
                <th>신청인원</th>
                <th>프로그램 운영 일시</th>
                <th></th>
            </thead>
            <% for(let post of posts) { %>
            <tbody>
                <tr>
                    <td><%= post.title %></td>
                    <td><%= post.howmany %></td>
                    <td><%= post.date %></td>
                    <td>
                        <form action="/ticketing/delete/<%=post.program_id%>/<%=post.howmany%>" method="post">
                            <button type="submit" name="cancel" ><%=cancel_hidden%></button>
                        </form>
                    </td>
                </tr>
            </tbody>
            <% } %>
        </table>
    <footer>
      <%- include('footer.ejs') %>
    </footer>

</body>
</html>